PROJECT_NAME="Code Storage Javascript"
RUNNING_ENVIRONMENT=""
GENESYS_ENDPOINT_URL=""
DEFAULT_API_PAGE_SIZE=
SQL_DATABASE=""
EMAIL_HOST=""
EMAIL_PORT=
EMAIL_USER=""
EMAIL_PW_TAG=""
EMAIL_PW_ENCRYPTED=""
EMAIL_DEFAULT_FROM=""
ENCRYPT_KEY=""
ENCRYPT_IV=""
