GENESYS_CLIENT_ID_TAG=""
GENESYS_CLIENT_ID_ENCRYPTED=""
GENESYS_CLIENT_SECRET_TAG=""
GENESYS_CLIENT_SECRET_ENCRYPTED=""
SQL_SERVER=""
SQL_USER=""
SQL_PORT=
SQL_PW_TAG=""
SQL_PW_ENCRYPTED=""
EMAIL_RECIPIENTS=""
EMAIL_CC_RECIPIENTS=""
